@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 20px;
}

/* .settings-container {
    background-image: linear-gradient(90deg, steelblue, lightblue);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    margin: 2rem;
    border: none;
    border-radius: 10px;
} */

.time-settings {
    display: none;
}

.startBtn {
    background-image: linear-gradient(90deg, steelblue, lightblue);
    cursor: pointer;
    font-size: 30px;
    outline: 0;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
}

.startBtn:focus {
    transform: scale(0.98);
}

.box-container {
    background-image: linear-gradient(90deg, steelblue, lightblue);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 1rem;
    padding: 2rem 2rem;
    border: none;
    border-radius: 10px;
}

.upper-container {
    display: flex;
    white-space: nowrap;
    margin: 2rem;
}

.score-container {
    font-size: 30px;
    text-align: center;
    align-items: center;
    display: flex;
    margin-right: 2rem;
}

.score {
    margin: 0rem 1rem;
}

.timer-container {
    font-size: 30px;
    text-align: center;
    align-items: center;
    display: flex;
    margin: 0rem 2rem;
}

.timeCountdown {
    display: flex;
    margin: 0rem 1rem;
}

.quiz-container {
    font-size: 40px;
    word-spacing: 2rem;
    display: flex;
    padding: 2rem 2rem;
    border-radius: 10px;
}

.answer {
    font-size: 40px;
    text-align: center;
    justify-content: center;
    outline: 0;
    border: none;
    border-radius: 5px;
    width: 10rem;
    margin: 0rem 2rem;
}

.resetBtn {
    cursor: pointer;
    font-size: 30px;
    outline: 0;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
}

.resetBtn:focus {
    transform: scale(0.98);
}


@media(max-width: 800px) {
    .upper-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .quiz-container {
        flex-direction: column;
    }
}